body {
  margin: 0;
}

header {
  background-color: #1f2937;
}

h2 {
  color: #1f2937;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 150px;
}

.navbar {
  overflow: hidden;
  top: 0;
  right: 0;
  position: fixed;
}

.navbar a {
  color: white;
  margin-right: 150px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}

.hero_text {
  margin-left: 150px;
  color: white;
  font-size: 48px;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 100px;
}

.hero_subtext {
  margin-left: 150px;
  color: #e5e7eb;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.halal_family {
  margin-left: 150px;
  display: inline;
  width: 450px;
  height: 300px;
  margin-right: 150px;
}

.img_text_container {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  padding: 5px 20px;
  margin-left: 150px;
  margin-top: 0;
}

.saucisse_container {
  display: flex;
  justify-content: space-between;
}
.saucisse_container img {
  border-radius: 10px;
  border: 2px solid #3882f6;
  width: 100px;
  height: 100px;
}

.dope_text {
  display: block;
}

.quote_container {
  background-color: #e5e7eb;
  text-align: center;
  padding: 60px 0;
}

.quote_container p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 36px;
  font-weight: 900;
justify-content: center;}
